@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');





*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: #111111;
    font-family: "Inter", sans-serif;
}
/* ------------common style start--------------- */
.bg-color{
    background-color: #E6533C;
}
.text-color{
    color: #B04433;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w-eighty-percent{
    width: 80%;
    margin: 0 auto;
}
/* ------------common style end  --------------- */

/* ------------navbar style start from here------ */
    .navbar{
        margin-top: 50px;
        padding: 50px;
    }
    .navbar ul li{
        margin-right: 3.5rem;
    }
    .navbar ul li:last-child{
        margin-right: 0;
    }
    .navbar .logo{
        font-size: 2em;
    }
    .navbar ul li a{
        color: white;
        font-size: 1.5em;
        padding: 5px 20px;
        border-radius: 50px;
    }
    
    .navbar ul li a:hover{
            background-color: #E6533C;
            padding: 5px 20px;
            border-radius: 50px;
    }
    .navbar .fa-bars{
        display: none;
        color:white;
        font-size: 2em;
    }
/* ------------navbar style end here------ */

/* -----------design for for mobile start---------- */
    @media screen and (max-width:576px) {
        .navbar ul{
            display: none;
        }
        .navbar .fa-bars {
        display: block;
        color: white;
        font-size: 2em;
        }
    }
/* -----------design for for mobile end---------- */